.about-us {
    padding: 32px;

    &__title{
      @include titleLMob;
      margin: 0;
    }
    &__list {
      display: flex;
      flex-direction: column;
    }
    &__features{
      list-style: none;
      padding: 0;
      margin: 0;
    }
    &__feature {
      @include titleSm;
      padding: 15px 0 15px 0;
      margin: 0;
    }

    &__feature::before{
      margin: 20px 0 25px 0px;
    }

    &__feature--fabric::before{
      content: '';
      display: block;
      background: url(/src/img/sprites.png);
      background-position: -157px -7px ;
	    width: 33px;
      height: 38px;
    }

    &__feature--style::before{
      content: '';
      display: block;
      background: url(/src/img/sprites.png);
      background-position: -151px -58px ;
	    width: 47px;
      height: 27px;
    }

    &__feature--likes:before{
      content: ''; 
      display: block;
      background: url(/src/img/sprites.png);
      background-position: -157px -109px ;
	    width: 34px;
      height: 27px;
    }
    
    &__feature--love:before{
      content: '';
      display: block;
      background: url(/src/img/sprites.png);
      background-position: -155px -156px ;
	    width: 35px;
      height: 34px;
    }

    &__feature--native:before{
      content: '';
      display: block;
      background: url(/src/img/sprites.png);
      background-position: -152px -212px ;
	    width: 55px;
      height: 23px;
    }

    &__feature--box:before{
      content: '';
      display: block;
      background: url(/src/img/sprites.png);
      background-position: -157px -255px ;
	    width: 33px;
      height: 32px;
    }
}

.slider {
  padding: 32px;

  &__slide1{
    position: relative;
    height: 360px;
  }
  
  &__slide2{
    display: none;
    position: relative;
    height: 360px;
  }

  &__slide3{
    display: none;
    position: relative;
    height: 360px;
  }

    &__title {
      @include titleLMob;
    }

    &__comment {
      font-size: 15px;
      line-height: calc(30/15);
      color: $darkGray;
      height: 270px;
    }

    &__auth {
      @include titleSm;
      line-height: calc(24/17);
    }
    &__nick {
      font-size: 17px;
      line-height: calc(30/17);
      color: $darkGray;
    }
  
    &__controls{
      margin-bottom: 40px; 
    }

    &__btn-left{
      background: url(/src/img/sprites.png)  -193px -100px no-repeat;
      width: 125px;
      height: 26px;
      border: 1px solid $frameMenu;
      padding: 23px 0px 23px 0px;
      left: 0;
    }
  
    &__btn-right{
      background: url(/src/img/sprites.png) -277px -99px no-repeat;
      width: 126px;
      height: 26px;
      border: 1px solid $frameMenu;
      padding: 23px 0px 23px 0px;
      right: 0;
    }
  
    &__btn-left:hover{
      opacity: 0.6;
    }
  
    &__btn-right:hover{
      opacity: 0.6;
    }
  
    &__btn-left:active {
      opacity: 0.3;
    }
  
    &__btn-right:active {
      opacity: 0.3;
    }

    &__write{
      margin: 0;
    }
  }

@media (min-width: 768px) {

  .about-us {

    width: 668px;
    margin: 0 auto;

    &__title {
      align-self: flex-start;
      @include titleXlTab;
    }
   
    &__list {
    flex-direction: row;
   }

}

.slider {

  margin: 0 auto;
  padding: 0;
  width: 768px;
  height: 455px;

  &__bg {
    background-image: url(/src/img/review-1x.jpg);
    background-position: left;
    background-repeat: no-repeat;
    background-size: 315px 455px;
    height: 455px;
  }

  &__caption{
    width: 130px;
    @include titleXlTab;
    margin: 0;
    padding-top: 80px;
  }

  &__slides{
    display: flex;
    flex-direction: column;
    width: 668px;
    margin-left: 50px;
  }

  &__slide1, &__slide2, &__slide3{
    height: 231px;
  }

  &__slide1, &__slide2, &__slide3 {
    display: flex;
    flex-direction: column;
    order: 3;
  }

  &__slide2 {
    display: none;
  }
  &__slide3 {
    display: none;
  }

  &__write {
    align-self: flex-end;
    order: 2;
    width: 180px;
    margin: 0;
  }

  &__comment {
    @include descrTablet;
    width: 606px;
    height: 170px;
    margin: 20px 0 0 0;
    // margin-bottom: 40px;
  }

  &__user {
    width: 245px;
  }

  &__controls {
    align-self: flex-end;
    order: 4;
    position: relative;
    top: -25px;
  }

  &__btn-left {
    background: url(/src/img/sprites.png)  -225px -109px no-repeat;
    width: 50px;
    height: 26px;
    border: none;
    outline: none;
    margin-right: 20px;
  }

  &__btn-right {
    background: url(/src/img/sprites.png) -321px -108px no-repeat;
    width: 50px;
    height: 26px;
    border: none;
    outline: none;
    
  }

  // &__btn-left:hover{
  //   background: url(/src/img/sprites.png) -226px -159px no-repeat;
  //   width: 50px;
  //   height: 26px;
  // }

  // &__btn-right:hover{
  //   background: url(/src/img/sprites.png) -320px -157px no-repeat;
  //   width: 50px;
  //   height: 26px;
  // }

  // &__btn-left:active {
  //   background: url(/src/img/sprites.png) -226px -211px no-repeat;
  //   width: 50px;
  //   height: 26px;
  // }

  // &__btn-right:active {
  //   background: url(/src/img/sprites.png) -319px -209px no-repeat;
  //   width: 50px;
  //   height: 26px;
  // }
}
}

@media (min-width: 1024px) {

  .about-us{

    &__title{
      @include titleDesk;
    }
  }

  .slider {

    width: 1055px;
    
    &__caption {
      @include titleDesk;
    }

    &__slide1, &__slide2, &__slide3{
      height: 201px;
    }
    
    &__slides{
      width: 875px;
      margin-left: 175px;
    }

    &__comment {
      width: 772px;
      height: 155px;
    }
  }
}



