.about-us {

    &__title{
      @include titleLMob;
    }
    &__list {
      list-style: none;
      margin: 0;
      padding: 0;
    }
    &__feature {
      @include titleSm;
      padding: 15px 0 15px 0;
      margin: 0;
      width: 250px;
    }
    &__feature:nth-child(2){
      width: 200px;
    }
    &__feature:nth-child(3){
      width: 200px;
    }
    &__feature:nth-child(4){
      width: 211px;
    }
    &__feature:nth-child(5){
      width: 251px;
    }
    &__feature:nth-child(6){
      width: 250px;
    }
    &__feature:nth-child(7){
      width: 250px;
    }
    &__feature:nth-child(1)::before{
      content: '';
      display: block;
      background: url(/src/img/sprites.png);
      background-position: -157px -7px ;
	    width: 33px;
      height: 38px;
      margin: 20px;
    }

    &__feature:nth-child(2)::before{
      content: '';
      display: block;
      background: url(/src/img/sprites.png);
      background-position: -151px -58px ;
	    width: 47px;
      height: 27px;
      margin: 15px;
    }

    &__feature:nth-child(3):before{
      content: ''; 
      display: block;
      background: url(/src/img/sprites.png);
      background-position: -157px -109px ;
	    width: 34px;
      height: 27px;
      margin: 20px;
    }
    
    &__feature:nth-child(4):before{
      content: '';
      display: block;
      background: url(/src/img/sprites.png);
      background-position: -155px -156px ;
	    width: 35px;
      height: 34px;
      margin: 20px;
    }

    &__feature:nth-child(5):before{
      content: '';
      display: block;
      background: url(/src/img/sprites.png);
      background-position: -152px -212px ;
	    width: 55px;
      height: 23px;
      margin: 15px;
    }

    &__feature:nth-child(6):before{
      content: '';
      display: block;
      background: url(/src/img/sprites.png);
      background-position: -157px -255px ;
	    width: 33px;
      height: 32px;
      margin: 20px;
    }
}
  .slider {
  
    &__title {
      @include titleLMob;
    }
    &__comment {
      font-size: 15px;
      line-height: calc(30/15);
      color: $darkGray;
    }
    &__auth {
      @include titleSm;
      line-height: calc(24/17);
    }
    &__nick {
      font-size: 17px;
      line-height: calc(30/17);
      color: $darkGray;
    }
  }

@media (min-width: 768px) {

  .about-us {

    &__title {
      align-self: flex-start;
    }
   

    &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: baseline;
    width: 630px;
  }

    &__feature:nth-child(1) {
    order: 1;
    flex-basis: 185px;
    margin-right: 128px;
  }

  &__feature:nth-child(2) {
    order: 3;
    margin-right: 95px;
    flex-basis: 220px;
  }

  &__feature:nth-child(3) {
    order: 5;
    flex-basis: 195px;
    margin-right: 120px;
  }

  &__feature:nth-child(4) {
    order: 2;
  }

  &__feature:nth-child(5) {
    order: 4;
  }

  &__feature:nth-child(6) {
    order: 6;
  }
}
}

@media (min-width: 1024px) {

  .about-us{

    &__list {
      margin: 0 auto;
    }
  }
}



