.about-us {

    &__title{
      @include titleLMob;
    }
    &__list {
      list-style: none;
      margin: 0;
      padding: 0;
    }
    &__feature {
      @include titleSm;
      padding: 15px 0 15px 0;
      margin: 0;
      width: 250px;
    }

    &__feature::before{
      margin: 20px 0 25px 0px;
    }

    &__feature:nth-child(2){
      width: 200px;
    }
    &__feature:nth-child(3){
      width: 200px;
    }
    &__feature:nth-child(4){
      width: 211px;
    }
    &__feature:nth-child(5){
      width: 251px;
    }
    &__feature:nth-child(6){
      width: 250px;
    }
    &__feature:nth-child(7){
      width: 250px;
    }
    &__feature:nth-child(1)::before{
      content: '';
      display: block;
      background: url(/src/img/sprites.png);
      background-position: -157px -7px ;
	    width: 33px;
      height: 38px;
      // margin: 20px;
    }

    &__feature:nth-child(2)::before{
      content: '';
      display: block;
      background: url(/src/img/sprites.png);
      background-position: -151px -58px ;
	    width: 47px;
      height: 27px;
      // margin: 15px;
    }

    &__feature:nth-child(3):before{
      content: ''; 
      display: block;
      background: url(/src/img/sprites.png);
      background-position: -157px -109px ;
	    width: 34px;
      height: 27px;
      // margin: 20px;
    }
    
    &__feature:nth-child(4):before{
      content: '';
      display: block;
      background: url(/src/img/sprites.png);
      background-position: -155px -156px ;
	    width: 35px;
      height: 34px;
      // margin: 20px;
    }

    &__feature:nth-child(5):before{
      content: '';
      display: block;
      background: url(/src/img/sprites.png);
      background-position: -152px -212px ;
	    width: 55px;
      height: 23px;
      // margin: 15px;
    }

    &__feature:nth-child(6):before{
      content: '';
      display: block;
      background: url(/src/img/sprites.png);
      background-position: -157px -255px ;
	    width: 33px;
      height: 32px;
      // margin: 20px;
    }
}

.slider {

  // &__slides{
  //   display: inline-block;
  // }
  
  &__slide1{
    position: relative;
  }
  
  &__slide2{
    display: none;
    position: relative;
  }

  &__slide3{
    display: none;
    position: relative;
  }

    &__title {
      @include titleLMob;
    }

    &__comment {
      font-size: 15px;
      line-height: calc(30/15);
      color: $darkGray;
    }

    &__auth {
      @include titleSm;
      line-height: calc(24/17);
    }
    &__nick {
      font-size: 17px;
      line-height: calc(30/17);
      color: $darkGray;
    }
  
    &__controls{
      margin-bottom: 40px; 
    }

    &__btn-left{
      background: url(/src/img/sprites.png)  -193px -100px no-repeat;
      width: 125px;
      height: 26px;
      border: 1px solid $frameMenu;
      padding: 23px 0px 23px 0px;
      left: 0;
    }
  
    &__btn-right{
      background: url(/src/img/sprites.png) -277px -99px no-repeat;
      width: 126px;
      height: 26px;
      border: 1px solid $frameMenu;
      padding: 23px 0px 23px 0px;
      right: 0;
    }
  
    &__btn-left:hover{
      background: url(/src/img/sprites.png) -193px -150px no-repeat;
      width: 125px;
      height: 26px;
    }
  
    &__btn-right:hover{
      background: url(/src/img/sprites.png) -276px -148px no-repeat;
      width: 126px;
      height: 26px;
    }
  
    &__btn-left:active {
      background: url(/src/img/sprites.png) -226px -211px no-repeat;
      width: 125px;
      height: 26px;
    }
  
    &__btn-right:active {
      background: url(/src/img/sprites.png) -319px -209px no-repeat;
      width: 126px;
      height: 26px;
    }
  }

@media (min-width: 768px) {

  .about-us {

    width: 668px;
    margin: 0 auto;

    &__title {
      align-self: flex-start;
      @include titleXlTab;
    }
   

    &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: baseline;
    // width: 630px;
  }

    &__feature:nth-child(1) {
    order: 1;
    flex-basis: 185px;
    margin-right: 128px;
  }

  &__feature:nth-child(2) {
    order: 3;
    margin-right: 95px;
    flex-basis: 220px;
  }

  &__feature:nth-child(3) {
    order: 5;
    flex-basis: 195px;
    margin-right: 120px;
  }

  &__feature:nth-child(4) {
    order: 2;
  }

  &__feature:nth-child(5) {
    order: 4;
  }

  &__feature:nth-child(6) {
    order: 6;
  }
}

.slider {

  margin: 0 auto;
  padding-top: 80px;
  width: 768px;
  height: 455px;

  &__bg {
    background-image: url(/src/img/review-1x.jpg);
    background-position: left;
    background-repeat: no-repeat;
    background-size: 315px 455px;
    height: 455px;
  }

  &__caption{
    width: 130px;
    @include titleXlTab;
    margin: 0;
    padding-top: 80px;
  }

  &__slides{
    display: flex;
    flex-direction: column;
    width: 668px;
    margin-left: 50px;
  }

  &__slide1 {
    display: flex;
    flex-direction: column;
    order: 3;
  }

  &__slide2{
    display: none;
  }
  &__slide3{
    display: none;
  }

  &__write{
    align-self: flex-end;
    order: 2;
    width: 180px;
    margin: 0;
  }

  &__comment{
    @include descrTablet;
    width: 606px;
    margin-bottom: 40px;
  }

  &__user{
    width: 245px;
  }

  &__controls {
    align-self: flex-end;
    order: 4;
    position: relative;
    top: -25px;
  }

  &__btn-left{
    background: url(/src/img/sprites.png)  -225px -109px no-repeat;
    width: 50px;
    height: 26px;
    border: none;
    outline: none;
    margin-right: 20px;
  }

  &__btn-right{
    background: url(/src/img/sprites.png) -321px -108px no-repeat;
    width: 50px;
    height: 26px;
    border: none;
    outline: none;
    
  }

  &__btn-left:hover{
    background: url(/src/img/sprites.png) -226px -159px no-repeat;
    width: 50px;
    height: 26px;
  }

  &__btn-right:hover{
    background: url(/src/img/sprites.png) -320px -157px no-repeat;
    width: 50px;
    height: 26px;
  }

  &__btn-left:active {
    background: url(/src/img/sprites.png) -226px -211px no-repeat;
    width: 50px;
    height: 26px;
  }

  &__btn-right:active {
    background: url(/src/img/sprites.png) -319px -209px no-repeat;
    width: 50px;
    height: 26px;
  }
}
}

@media (min-width: 1024px) {

  .about-us{

    &__title{
      @include titleDesk;
    }

    &__list {
      margin: 0 auto;
    }
  }

  .slider {

    width: 1055px;
    
    &__caption {
      @include titleDesk;
    }
    
    &__slides{
      width: 875px;
      margin-left: 175px;
    }

    &__comment {
      width: 772px;
    }
  }
}



