.contacts {

    width: 260px;

    &__title{
        @include titleContactMobile;
    }

    &__wrap {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        @include itemTop;
        line-height: calc(30/15);
        padding: 20px 0px 10px 0px;
        color: $darkGray;
    }

    &__text {
        margin: 0;
        text-transform: lowercase;
    }

    &__link {
        padding: 3px 3px 3px 3px;
        text-decoration: none;
        color: $darkGray;
        position: relative;
    }

    &__link::after{
        content: "";
        top: 31px;
        left: 3px;
        position: absolute;
        border-bottom: 1px solid $greenLeft;
        width: 180px;
    }

    &__address {
        width: 145px;
        font-style: normal;
        padding-right: 35px;
    }

}

@media (min-width: 768px) {

    .contacts {

        &__box {
            display: flex;
            justify-content: space-between;
            width: 668px;
        }

        &__wrap {
            min-width: 45%;
            @include descrTablet;
        }

        &__address {
            width: 195px;
            padding: 0;
        }

        &__link:after{
            width: 204px;
        }
    }
}