.menu-bottom {

    &__list{
        display: block;
    }

    &__item{
        height: 103px;
    }

    &__item--left{

        border: 1px solid #7fcebb;


        background-color: #7fcebb;


    }
    &__item--right{
        border: 1px solid #73c0b2;

        background-color: #73c0b2;

    }

        &__title {
            font-size: 27px;
            color: #000000;
            width: 244px;
            text-align: center;

    }



}
