
.menu-top {
width: 320px;
border:1px solid red;
margin: 0 auto;
display: flex;
&__logo{
margin:22px 0px 22px 116px;

}



&__item{
display: flex;
flex-direction: column;
list-style:none;
margin: 0;
padding: 0;


}
 &__list {
color:blue;
margin-left: 50px;


    }
&__link{
 display: block;
 padding: 10px 0px 30px;
 text-align: center;
 text-decoration: none;
 @include text(17px, 700);
 line-height: 24px;
 color: #000;
 box-shadow: 0 1px 0 #ececec,
 inset 0 1px 0 #ececec;
 text-align: center;

}



@media (min-width: 768px) {

    .menu-top {

        &__list{
            display: flex;

        }

        &__link {
display: block;
padding: 10px 0px 30px;
text-align: center;
text-decoration: none;
@include text(17px, 700);
line-height: 24px;
color: #000;
box-shadow: 0 1px 0 #ececec,
inset 0 1px 0 #ececec;
text-align: center;

        }



    }

}
}
