.footer{
  &__copyright {
  display: flex;
  }
  &__creator{
  @include textLg(19px, 700);
  cursor: pointer;
  margin-left: 69px;
  }
  &__creator:active{
  opacity:0.3;
  }

<<<<<<< HEAD
    &__copyright{
        text-align: center;
        font-size: 19px;
        font-weight: 700;
        line-height: calc(18/19);
    }

    &__icon{
        display: inline-block;
        background: url(/src/img/sprites.png) no-repeat;
        background-position: -14px -158px ;
	    width: 27px;
        height: 34px;
        vertical-align: middle;
        margin-left: 30px;
    }
=======
>>>>>>> 57d5256824a9f86470493311b031f6ccecd25ce6

 &__icon {
   display: inline-block;
   background: url(/src/img/sprites.png) no-repeat;
   background-position: -14px -158px;
   width: 27px;
   height: 34px;
   vertical-align: middle;
   margin-left: 30px;
 }

 &__icon:hover {
   display: inline-block;
   background: url(/src/img/sprites.png) no-repeat;
   background-position: -61px -160px;
   width: 27px;
   height: 34px;
   vertical-align: middle;
   margin-left: 30px;
 }

 &__icon:active {
   display: inline-block;
   background: url(/src/img/sprites.png) no-repeat;
   background-position: -108px -159px;
   width: 27px;
   height: 34px;
   vertical-align: middle;
   margin-left: 30px;
 }

}
