.footer {
  &__bg {
    background: $lightGray;
    width: 100%;
  }
  &__inner {
    display: block;
    margin: 10px 0 0 0; 
    width: 100%;
    height: 160px;
  }
  &__logo {
    display: none;
  }
  &__link {
    margin: 23px 20px 7px 14px;
  }
  &__social {
    display: block;
    height: 80px;
    width: 195px;
    margin: 0 auto;
    text-align: center;
    cursor: pointer;
  }
  &__insta {
    display: inline-block; //background: url('/src/img/sprites.png') no-repeat -13px -60px;

    background: url('/src/img/sprites.png') -15px -61px;
    width: 22px;
    height: 21px;
  }
  &__insta:hover {
    display: inline-block; //background: url('/src/img/sprites.png') no-repeat -60.9px -60.8px;
    //width: 25px;
    //height: 24px;
    background: url('/src/img/sprites.png') -63px -62px;
    width: 22px;
    height: 21px;
  }
  &__insta:active {
    display: inline-block; //background: url('/src/img/sprites.png') no-repeat  -113px -60px;
    //width: 25px;
    //height: 24px;
    background: url('/src/img/sprites.png') -115px -61px;
    width: 22px;
    height: 21px;
  }
  &__facebook {
    display: inline-block; //background: url('/src/img/sprites.png') -15px -109px;
    //width: 18px;
    //height: 30px;
    background: url('/src/img/sprites.png') -17px -110px;
    width: 15px;
    height: 29px;
  }
  &__facebook:hover {
    display: inline-block; //background: url('/src/img/sprites.png') -61.9px -108.5px;
    // width: 18px;
    //height: 30px;
    background: url('/src/img/sprites.png') no-repeat -64px -110px;
    width: 15px;
    height: 29px;
  }
  &__facebook:active {
    display: inline-block; //background: url('/src/img/sprites.png') -112px -109px;
    //width: 18px;
    //height: 30px;
    background: url('/src/img/sprites.png') -114px -111px;
    width: 15px;
    height: 29px;
  }
  &__twitter {
    display: inline-block; //background: url('/src/img/sprites.png') -14px -13px;
    //width: 24px;
    // height: 22px;
    background: url('/src/img/sprites.png') -14px -14px;
    width: 24px;
    height: 20px;
  }
  &__twitter:hover {
    display: inline-block; // background: url('/src/img/sprites.png') -60.4px -13.9px;
    //width: 24px;
    //height: 22px;
    background: url('/src/img/sprites.png') -60px -14.5px;
    width: 24px;
    height: 20px;
  }
  &__twitter:active {
    display: inline-block; // background: url('/src/img/sprites.png')  -110px -13px;
    //width: 24px;
    //height: 22px;
    background: url('/src/img/sprites.png') -111px -14px;
    width: 24px;
    height: 20px;
  }
}

@media (min-width: 768px) {
  .footer {
    &__inner {
      @include flexbox; //justify-content: space-around;
      // flex-direction: row;
      height: 143px;
      align-items: center; //margin-top:30px;//////izmen
margin-top: 30px;
      justify-content: space-between; // margin-top: 32px;
    }
    &__logo {
      display: flex; //display: inline-block;
      flex-basis: 31%;
      text-align: center;
      margin: 0 0 0px 25px;
    }
    &__logo-link {
      display: inline-block;
      margin-left: 0;
    }
    &__logo-link:hover img {
      opacity: 0;
    }
    &__logo-link:hover {
      display: inline-block;
      background: url('/src/img/sprites.png') -600px -132px;
      width: 102px;
      height: 34px;
      margin-left: 25px;
    }
    &__logo-link:active {
      display: inline-block;
      background: url('/src/img/sprites.png') -600px -173px;
      width: 102px;
      height: 34px;
    }
    &__social {
      margin-left: 23px;
    }
  }
}

@media (min-width: 1024px) {
  .footer {
    width: 100%;
    min-width: 1200px;
    &__inner {
      margin-top: 47px;
    }
    &__logo {
      margin-left: 38px;
    }
    &__logo-link:hover {
      display: inline-block;
      background: url('/src/img/sprites.png') -600px -132px;
      width: 102px;
      height: 34px;
      margin-left: 39px;
    }
    &__logo-link:active {
      opacity: 0.3;
    }
    &__social {
      // margin: 0 0 0 95px;
      margin-left: 92px; //  margin-top: 16px;
    }
  }
}

