.menu-bottom {
 background-image: url(./src/img/header-mobile-1x.jpg);
    background-position: 50% 60%;
    background-repeat: no-repeat;

    &__title {
        @include titleXlMob;
        width: 244px;
        text-align: center;
        margin: 0 auto;
        padding: 77px 0 121px 0;

    }

    &__list {
        display: block;
        list-style: none;
        padding: 0;
        margin: 0;
       
    }

    &__item {
        height: 103px;
        border: 1px solid $greenLeft;
        background-color: $greenLeft;
    }
    &__link {
        color: $white;
        text-decoration: none;
        display: block;
        background: url('img/sprites.png') no-repeat;
        background-position: -226px -12px ;
	width: 41px;
	height: 62px;

    }
    &__caption {
        width: 100px;
        margin-left: 30px;
        font-size: 19px;
        font-weight: 700;
        line-height: calc(24/19);

    }

   
    &__item--right {
        border: 1px solid $greenRight;
        background-color: $greenRight;
       


    }
}
@media (min-width: 760px) {

    .menu-bottom {
        min-height: 746px;
        min-width: 668px;
        margin: 0 auto;
        background: url('./img/header-tablet-1x.jpg');
        background-position: 50% 60%;
        background-repeat: no-repeat;

        &__title {
            @include titleXlTab;
            width: 500px;
            margin: 0 auto;
        }
        &__list{
            display: flex;
            width: 668px;
            margin: 0 auto;
        }
        &__item{
            width: 334px;
            height: 114px;

        }


    }
}
