.menu-top {
    display: block;
    text-align: center;
    height: 79px;

    &__logo-link {
        text-align: center;
        background-image: url('../img/logo-mishka-mobile.png');
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: 60px;
      }

    &__list {
        // display: none;
        list-style: none;
        height: 315px;
        padding: 0;
    }

    &__item {
        height: 79px;
        border: 1px solid $baseC;
        text-align: center;
    }
    &__link {
        font-size: 17px;
        color: #000000;
        font-weight: 700;
        text-decoration: none;
}
}


@media (min-width: 768px) {
    
    .menu-top {
        display: block;
        text-align: left;

        &__logo-link {
            text-align: center;
            background-image: url('./img/logo-tablet.png');
            background-position: 50% 50%;
            background-repeat: no-repeat;
          }

        &__list{
            display: flex;
        }

       

       
            
    }
    
}
