
.menu-top {
display: flex;
flex-direction: column;



  &__logo-link {
    text-align: center;
    margin-left: 50px;
  }
  &__item {
display: none;

    border: 1px solid #ececec;
    padding: 0;
  }
  &__list {
    display:flex;
    height: 315px;
    text-align: center;
    padding: 0;
    margin: 0;
  }
  &__link{
    font-size: 17px;
    color: #000000;
    font-weight: 700;
    text-decoration: none;
    text-align: center;
  }
}


